{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<div class="sm:px-8 md:px-16 sm:py-8">
    <main class="container mx-auto max-w-screen-lg ">
        <article aria-label="Post" class="flex flex-col bg-white shadow-xl rounded-md p-8">

        <div class="mt-2">
            <h2 class="text-2xl text-gray-700 font-bold hover:text-gray-600" href="#">{{ post.title }}</h2>
            <p class="mt-2 text-gray-600">{{ post.information }}</p>
        </div>

        {% for media in post.media %}
            <p class="mt-2 text-gray-300">

                {% if 'image' in media.mimetype %}
                    <img src="http://gallery.imogen.local:9000/{{ media.filename }}"
                        alt="{{ media.originalfilename }}">
                {% else %}
                    <a href="http://gallery.imogen.local:9000/{{ media.filename }}">{{ media.originalfilename }}</a>
                {% endif %}
            </p>
        {% endfor %}

        </article>
    </main>
</div>
{% endblock %}
