{% extends '_container.html.twig' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block container %}
	<div class="mt-2">
		<h2 class="text-2xl text-nord4 font-bold hover:text-gray-600">{{ post.title }}</h2>
	</div>

	{% for media in post.media %}
		<p class="mt-2 text-gray-300">

			{% if 'image' in media.mimetype %}
				<img src="{{ media.objectUrl }}" alt="{{ media.originalfilename }}">
			{% else %}
				<div class="w-full">
					<video class="video-js">
						<source src="{{ media.objectUrl }}" type="{{ media.mimetype }}">
					</video>
				</div>
			{% endif %}
		</p>
	{% endfor %}

	<div class="mt-2">
		<p class="mt-2 text-gray-600">{{ post.information }}</p>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('videoplayer') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('videoplayer') }}
{% endblock %}
